#
# $Id: robodoc.rc 100 2016-10-12 12:38:47+04:00 toor $
#
options:
    --src ./src
    --doc ./doc/kurenma
    --html
    --singledoc
    --sections
    --tell
    --toc
    --index
    --charset UTF-8
    --css ./robodoc.css
    --syntaxcolors_enable quotes,squotes,line_comments,keywords,non_alpha
ignore files:
    .svn
    *~
    debian
    autom4te.cache
    etc
