#
# $Id: client.kurenma.ini 33 2016-08-16 13:33:53+04:00 toor $
#
	role		= client
	host		= server.domain
	port		= 42912
	tsKeepalive	= 25
	tsPeer￼Timeout   = 32min
	bDaemonize	= false
	bDefaultRoute	= false

[ssl]

	cnClient	= client.common.name
	cnServer	= server.common.name



