#****h* configuration/knockd.conf.example
#
#  DESCRIPTION
#
#    Example configuration knockd.conf, that is updated by using the tool
#    setup-knockd(8)
#
#  SEE ALSO
#
#    setup-knockd(8), update-firehol(8), knockd.conf(5)
#
#  SOURCE

[options]
  logfile = /var/log/knockd.log

[kurenma]
  sequence    = 1891,389,23489
  seq_timeout = 5
  command     = /usr/bin/update-firehol %IP%
  tcpflags    = syn

#******
