[Unit]
Description=Kurenma Auth Service for Wireguard Network

[Service]
Type=simple
Environment=_kurenmas_ctl=start
ExecStart=/usr/sbin/kurenmas
ExecStop=/usr/sbin/kurenmas stop

[Install]
WantedBy=multi-user.target

