#
# $Id: kurenma.service 67 2016-09-13 15:49:50+04:00 toor $
#
[Unit]
Description=Kurenma Auth Service for Wireguard Network

[Service]
Type=forking
TimeoutSec=8
ExecStart=/usr/sbin/kurenmactl start
ExecStop=/usr/sbin/kurenmactl stop

[Install]
WantedBy=multi-user.target

